* {
    margin: 0px;
    padding: 0px;
}


html, body{
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 14px;
}


p{
    margin-bottom: 10px;
}


a,img,button,textarea,span{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}


.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;
}


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}


.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background-image: none;
}


.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


.btn-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}


.btn-default.focus, .btn-default:focus{
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}


.btn.active, .btn:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid rgba(153, 153, 153, 0.5);
}


button, input, select, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


button, html input[type=button], input[type=reset], input[type=submit]{
    -webkit-appearance: button;
    cursor: pointer;
}


button, select{
    text-transform: none;
}


button{
    overflow: visible;
}


button, input, optgroup, select, textarea{
    margin: 0;
    font: inherit;
    color: inherit;
}


.btn-success.active.focus, 
.btn-success.active:focus, 
.btn-success.active:hover, 
.btn-success:active.focus, 
.btn-success:active:focus, 
.btn-success:active:hover, 
.open>.dropdown-toggle.btn-success.focus, 
.open>.dropdown-toggle.btn-success:focus, 
.open>.dropdown-toggle.btn-success:hover{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}


.btn-danger.active.focus, 
.btn-danger.active:focus, 
.btn-danger.active:hover, 
.btn-danger:active.focus, 
.btn-danger:active:focus, 
.btn-danger:active:hover, 
.open>.dropdown-toggle.btn-danger.focus, 
.open>.dropdown-toggle.btn-danger:focus, 
.open>.dropdown-toggle.btn-danger:hover{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}


.wrapper{
    width: 100%;
    background-color: black;
    overflow: hidden;
    height: 100%;
}


.main{
    width: 100%;
    height: 100%;
}


.main.vrMode{
    position: relative;
    z-index: 100;
}


.FD-home{
    position: fixed;
    top: 10px;
    left: -60px;
    z-index: 100;
    width: 40px;
    color: #f8f8f8;
    height: 40px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}


.FD-home.open{
    left: 10px;
}


.FD-home.hide{
    display: none;
}


.FD-phone-bg.open{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(158, 158, 158, 0.51);
    z-index: 99;
}


.controller{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 100;
    transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}


.controller.open{
    left: 0px;
}


.FD-option-tool{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #2196F3;
    background-color: #fff;
    font-size: 0px;
    cursor: pointer;
}


.FD-close{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.FD-user-login{
    display: inline-block;
    width: 200px;
    font-size: 16px;
    text-align: left;
    padding-left: 1em;
    box-sizing: border-box;
}


.FD-user-login>i{
    font-size: 30px;
    position: relative;
    top: 5px;
}


.FD-user-login>span{
    font-size: 12px;
    color: #2196f3;
    margin-left: 6px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    border-bottom: 1px solid #2196f3;
}


.FD-switch-container{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 320px;
    height: calc(100% - 50px);
    -webkit-overflow-scrolling: touch;
}


.FD-create-new-p{
    margin-bottom: 0px;
    width: 300px;
    background: #5d5b5b;
}


.FD-create-new-project{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 200px;
    background-color: #5d5b5b;
}


.FD-title-name{
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding-left: 10px;
    background-color: #bfbfbf;
    color: #666;
    border-bottom: 1px solid #9E9E9E;
}


.FD-project-list{
    height: 80px;
    background-color: #f8f8f8;
    list-style: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 5px;
    width: 300px;
}


.FD-project-list:last-child{
    margin-bottom: 0px;
}


.FD-project-list>img{
    width: 50px;
    height: 50px;
    float: left;
    margin: 15px 10px;
}


.FD-project-list .checked{
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #000;
    opacity: .5;
    left: 10px;
    top: 15px;
    text-align: center;
}


.FD-project-list .checked.open{
    display: block;
}


.FD-project-list .checked>i{
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 50px;
}


.FD-project-list .title{
    display: block;
    width: 225px;
    height: 40px;
    line-height: 50px;
    color: #333;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.FD-project-list .info{
    width: 225px;
    color: #666;
    font-size: 14px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
}

.FD-unlogin-project{
    width: 300px;
    height: 100px;
    text-align: center;
    color: #666;
    margin-top: 10px;
}
.FD-unlogin-img{
    width: 70px;
    height: 70px;
}
.FD-unlogin-txt{
    display: block;
    line-height: 30px;
}
.FD-unlogin-dl{
    color: #2f9df4;
    cursor: pointer;
}
.FD-top-container{
    width: 300px;
    height: 40px;
    display: block;
    line-height: 40px;
    color: #fff;
    background: #5d5b5b;
    font-size: 0px;
    margin: 0px;
}


.FD-back{
    display: inline-block;
    width: 150px;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.FD-scene-option{
    margin-left: 90px;
    display: inline-block;
    width: 60px;
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.FD-current-scene{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: #666;
    margin: 0px;
}


.FD-current-scene-name{
    font-size: 20px;
    margin-left: 5px;
    color: #333;
}


input[type="checkbox"]{
    display: none;
}


input[type="checkbox"] + label{
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0px 10px;
    box-sizing: border-box;
}


input[type="checkbox"] + label:after,
input[type="checkbox"] + label:before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}


.FD-checkbox:checked + label.red{
    background: #ECA9A7;
}


.FD-checkbox:checked + label.red:after{
    background: #D9534F;
}


.FD-checkbox:checked + label.green{
    background: #AEDCAE;
}


.FD-checkbox:checked + label.green:after{
    background: #4ade50;
}


.FD-checkbox:checked + label:after{
    left: calc(100% - 20px);
}


.FD-checkbox + label{
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
}


.FD-checkbox + label:after{
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}


.FD-scene-list{
    width: 300px;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}


.FD-scene-list>label{
    top: 15px !important;
    float: left;
}


.FD-scene-name{
    display: block;
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #666;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.FD-fly-to{
    display: block;
    text-align: center;
    height: 50px;
    float: left;
    width: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}


.FD-scene-option-buttons{
    text-align: center;
    width: 300px;
    margin-top: 20px;
}


.FD-scene-option-button{
    width: 240px;
    margin-bottom: 10px;
    height: 40px;
    text-align: left;
    padding-left: 75px;
}


.FD-module-input{
    text-align: left;
    text-indent: .5em;
    margin-bottom: 10px;
}


.FD-module-input>span{
    width: 65px;
    color: #666;
    display: inline-block;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.FD-module-input>input{
    outline: none;
    border: none;
    height: 2.5em;
    width: 210px;
    text-indent: 2px;
    background: none;
}


.FD-module-input-one{
    margin-top: 10px;
}


.FD-module-input-one>input,
.FD-module-input-two>input{
    background-color: #fff;
}


.FD-camera-container{
    margin: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}


.FD-camera-name{
    height: 40px;
    width: 90px;
    display: inline-block;
    text-indent: 1em;
    color: #333;
}


.FD-camera-pos{
    display: inline-block;
    height: 40px;
    line-height: 40px;
}


.FD-camera-pos.disble{
    color: #999;
    cursor: not-allowed;
}


.FD-auto-pos{
    text-indent: .5em;
    height: 20px;
}


.FD-camera-option{
    margin: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: left;
    padding-left: 5px;
}


.FD-camera-option>i{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    top: 0px;
    text-align: center;
}


.FD-orginalPosition{
    top: 3px;
}


.FD-add-new-scene{
    width: 240px;
    margin: 15px auto;
    margin-left: 30px;
    display: block;
    height: 40px;
    text-align: left;
    padding-left: 75px;
}


.FD-scene-option-container{
    list-style-type: none;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 20px;
}


.FD-scene-option-name{
    display: inline-block;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}


.FD-scene-option-title{
    color: #666;
}


.FD-scene-option-num{
    outline: none;
    border: 1px solid #eee;
    height: 30px;
    padding-left: 5px;
    background: none;
}

.FD-vp-optionbuttons{
    margin: 10px auto;
    text-align: left;
    padding-left: .5em;
}

.FD-vp-groups{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.FD-vp-group{
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-size: 0px;
}

.FD-vp-group>span{
    display: inline-block;
    font-size: 14px;
}

.FD-vp-group-title{
    padding: 5px .5em !important;
    width: 246px;
}

.FD-vp-group-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.FD-vp-group-points{
    list-style-type: none;
    background-color: rgba(235, 235, 234, .5);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 40px;
    font-size: 0px;
}

.FD-vp-group-points-name{
    display: inline-block;
    height: 40px;
    width: 260px;
    text-indent: .5em;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-size: 14px;
    color: #666;
}

.FD-vp-group-points-title{
    height: 40px;
    display: inline-block;
    width: 220px;
    text-indent: .5em;
    line-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-size: 14px;
}

.FD-vp-group-points.active{
    background-color: #aedcae;
    transform: scale(1,1.1);
    -webkit-transform: scale(1,1.1);
    -moz-transform: scale(1,1.1);
    -transform: scale(1,1.1);
}

.FD-vp-group-fonts{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: #299af3;
}

.FD-vp-group-name{
    width: 255px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    vertical-align: top;
    text-indent: .5em;
}

.FD-vp-group-font{
    top: 0px;
    display: inline-block;
    height: 45px;
    width: 45px;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
}

.FD-nav{
    position: fixed;
    top: 65px;
    right: 10px;
    z-index: 100;
}

.FD-nav.hide{
    display: none;
}

.FD-nav-vrmode{
    position: fixed;
    top: 65px;
    right: 10px;
    z-index: 100;
    display: none;
}

.FD-nav-vrmode.vrMode{
    z-index: 102;
    display: block;
}

.FD-nav .FD-nav-icon,
.FD-nav-vrmode .FD-nav-icon{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.FD-vp-infos{
    padding-left: .5em;
}

.FD-xiezuo-span{
    width: 90px !important;
    text-indent: 0px;
}

.FD-xiezuo-input{
    width: 190px !important;
}

.FD-xz-buttons{
    margin-bottom: 10px;
    text-align: left;
    padding-left: .5em;
}
.FD-xz-buttons>p>button>i{
    width: 15px;
}

.FD-fx-buttons{
    text-align: left;
    margin: 10px auto;
    padding-left: .5em;
}

.FD-buttom-bar{
    position: fixed;
    left: 0px;
    bottom: -40px;
    width: 100%;
    height: 40px;
    z-index: 100;
    text-align: center;
    line-height: 40px;
    transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}

.FD-buttom-bar.open{
    bottom: 30px;
}

.FD-bar-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.FD-bar-icon:active{
    border-color: #47e047;
    background: rgba(128, 179, 128, 0.79);
}

.FD-bar-icon.spot{
    background: #689f38;
}

.FD-dialogs{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    z-index: 101;
    background: rgba(51, 51, 51, 0.73);
}

.FD-dialogs.open{
    display: block;
}

.FD-delProject-dialogs{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 300px;
    height: 100%;
}

.FD-dialogs-box{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: 150px;
    background: #fff;
    border-radius: 3px;
}

.FD-dialogs-title{
    text-align: center;
    font-size: 20px;
    margin: 15px 0px;
    color: #666;
}

.FD-dialogs-contents{
    text-align: center;
    color: #333;
    margin: 15px 0px;
}

.FD-dialogs-buttons{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.FD-dialogs-buttons .btn-danger{
    margin-right: 20px;
}

.FD-login-p{
    height: 50px;
    line-height: 50px;
    margin-bottom: 0px;
}

.FD-login-buttons{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.FD-login-buttons .FD-button-left{
    margin-right: 40px;
}

.FD-login-label{
    width: 70px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    color: #666;
}

.FD-login-input{
    height: 40px;
    line-height: normal;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid #999;
    width: 70%;
    box-sizing: border-box;
    color: #000;
}

.fa-location-arrow{
    transform: rotate(-45deg);
}

.FD-login-container{
    display: none;
    position: relative;
    top: 0px;
    background: #fff;
    left: 0px;
    width: 300px;
    height: 100%;
}

.FD-login-container.open{
    display: block;
}

.FD-frame-container{
    display: none;
    position: relative;
    top: 0px;
    background: #fff;
    left: 0px;
    width: 300px;
    height: 100%;
}

.FD-frame-container.open{
    display: block;
}

.FD-frame-box{
    padding: 10px 0px;
    color: #666;
}

.FD-frame-p{
    height: 40px;
    line-height: 40px;
    padding-left: 1em;
    margin-bottom: 0px;
}

.FD-frame-label{
    color: #666;
    width: 60px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.FD-frame-input{
    display: inline-block;
    height: 25px;
    line-height: normal;
    outline: none;
    padding-left: 5px;
    width: 50px;
    vertical-align: middle;
}

.FD-frame-textarea{
    width: 280px;
    height: 300px;
    line-height: 30px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 1px solid #666;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    resize: none;
}

.FD-share-container{
    display: none;
    position: relative;
    top: 0px;
    background: #fff;
    left: 0px;
    width: 300px;
    height: 100%;
}

.FD-share-container.open{
    display: block;
}

.FD-share-qrcode{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    padding-top: 50px;
}

.FD-share-span{
    display: block;
    text-align: center;
    width: 130px;
    margin: 0 auto;
    margin-top: 10px;
    color: #666;
}

.FD-share-textarea{
    width: 280px;
    height: 100px;
    line-height: 30px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 1px solid #666;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    resize: none;
}

.FD-login-box{
    position: absolute;
    top: 50px;
    left: 25px;
    right: 0px;
    bottom: 0px;
    width: 250px;
    height: 400px;
}

.FD-top-bar{
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    background: red;
    z-index: 1;
    width: 60%;
    text-align: center;
    color: #fff;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.2em;
    letter-spacing: 5px;
    margin: 0 auto;
    right: 0px;
    height: 2em;
}

.FD-top-bar.open{
    display: block;
}

.FD-bottom-logo{
    position: fixed;
    right: 0px;
    bottom: -10px;
    z-index: 1;
    width: 53px;
}

.FD-bottom-num{
    display: none;
    font-size: 14px;
    height: 20px;
    color: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    box-sizing: border-box;
}

.FD-bottom-num.open{
    display: block;
}

.FD-bottom-num>span{
    font-size: 14px;
}

.FD-right-tips{
    display: none;
    position: fixed;
    top: 30px;
    right: 60px;
    background: #fff;
    width: 250px;
    z-index: 1;
    height: 200px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.FD-right-tips.open{
    display: block;
}

.FD-right-tips-close{
    font-size: 30px;
    text-align: right;
    padding: 0px 10px;
    margin-bottom: 0px;
}

.FD-right-tips-close>i{
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    cursor: pointer;
    width: 30px;
    text-align: center;
}

.FD-right-tips-contents{
    padding: 10px;
}

.cesium-viewer-toolbar{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    z-index: 101;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #222;
}

.cesium-geocoder-searchButton{
    top: 0px;
    right: 0px;
    background-color: #222;
    fill: #fff;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.cesium-geocoder-searchButton:hover{
    background-color: #222;
}

.cesium-viewer-geocoderContainer{
    margin: 0px;
    text-align: center;
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus{
    width: 300px;
    padding-right: 40px;
}

.FD-imagelayer-container{
    display: none;
    background: #fff;
    width: 320px;
    height: calc(100% - 50px);
    box-sizing: border-box;
    border-top: 1px solid #2196F3;
    -webkit-overflow-scrolling: touch;
}

.FD-imagelayer-container.open{
    display: block;
}

.FD-imagelayer{
    width: 320px;
    height: calc(100% - 60px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.FD-imagelayer-li{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-top: 20px;
}

.FD-imagelayer-buttons{
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    text-align: center;
}

.FD-imagelayer-buttons>button{
    width: 100px;
    letter-spacing: 3px;
}

.FD-imagelayer-buttons>button:last-child{
    margin-left: 10px;
}

.cesium-viewer-geocoderContainer:hover .cesium-geocoder-input, 
.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus, 
.cesium-viewer-geocoderContainer .cesium-geocoder-input-wide{
    width: 300px;
}
.cesium-svgPath-svg{
    width: 26px;
    margin-left: 7px;
}
.FD-module-input-tags,
.FD-module-input-tags-num{
    text-indent: 0px;
    padding-left: 10px;
}
.FD-module-input-tags>span,
.FD-module-input-tags-num>span{
    width: 105px;
}
.FD-module-input-tags>input,
.FD-module-input-tags-num>input{
    width: 175px;
    margin-bottom: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    color: #666;
}
.FD-module-input-tags-num>span{

}
.FD-module-input-tags-num>span{

}
.FD-scenetree-container{
    width: 300px;
    overflow-x: scroll;
    padding: 10px 0px;
}
.FD-scene-child{
    padding-left: 20px;
    list-style: none;
    box-sizing: border-box;
}
.FD-scene-item{
    color: #333;
    line-height: 35px;
}
.FD-scene-div{
    padding-left: 10px;
}
.FD-scene-div.haschild{
    cursor: pointer;
}
.FD-tooltip-container{
    display: none;
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100px;
    line-height: 30px;
    text-align: center;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
.FD-tooltip-container.open{
    display: block;
}
















